$yellow: #FAC336;

:root {
  --primary: #FF7E46;
  --blue: #3D9AF8;
  --vibrant_blue: #1258AB;
  --light-blue: #E6F0FF;
  --bright_green: #4DE5AF;
  --black: #111111;
  --white: #ffffff;
  --border: #E5E5E5;
  --light_grey: #F8F9FA;
  --test_purple: #3D66F8;
  --grey: rgba(17, 17, 17, 0.3);
  --yellow: #{$yellow};
  --dark-grey: #999999;
  --red: #EB5757;
  --green:#03c003;
}
